.form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
}

.label {
  margin-bottom: 10px;
  font-size: 16px;
}

.button__add {
  margin-top: 20px;
  border-radius: 8px;
  border: none;
}
.button__add:hover {
  color: white;
  background: blue;
  cursor: pointer;
  transition: 500ms;
  transform: scale(1.1);
}
.button__add:not(:hover) {
  transition: 500ms;
  transform: scale(1);
}
.input__name {
  margin-left: 40px;
}
.input__number {
  margin-left: 40px;
}
